
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">High Quality Mission Builder</h1>
    <p class="lead">Create ConOps, Concept of Fires and GRGs on the fly!</p>
  </div>
</div>
