@import "bootstrap";

/*******  Jumbotron ********/
.jumbotron {
	background-image: url("a-10.jpg");
	background-size: cover;
	height: 100vh;
	margin-top: -30px;
	color: #FFF;
}

/******** Navbar ********/
.navbar-link {
	color: white;
	margin-left: 10px;
}

/******** Devise ********/
.devise-form {
	margin: 0 auto;
	width: 50%;
	margin-top: 30px;
}

